:root {
    --cor1: #53B0A7;
    --cor2: #ffffff;
    --cor3: #000000;
    --cor4: #D9D9D9;
}

body {
    background-color: var(--cor2);
    color: var(--cor3);
}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10vh 89vh 1vh;
    grid-template-areas:
        'header'
        'div div'
        'footer';
}

.div-cadastro{
    background-color: #53B0A7;
    width: 80px;
    border-radius: 45%;
}

.carousel {
    background-color: var(--cor1);
    width: 450px;
    margin: 0 auto;
}

.esq-dir-layout {
    display: flex;
    flex-direction: row;
}

.jumbotron {
    background-color: var(--cor1);
    color: var(--cor2);

}

.custom-button {
    background-color: #53B0A7;
    border: 1px solid #ffffff;
    color: white;
    border-radius: 70px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.main-esquerda {
    width: 30%;
    background-color: var(--cor1);
    color: var(--cor2);
    border-radius: 10px;
}

.main-direita {
    width: 70%;
    background-color: var(--cor2);
    color: var(--cor1);
}